/* Perustyylit */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1, h2, h3 {
    text-align: center;
    color: #4a90e2;
}

/* Pääkontaineri */
#game-container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 90%;
    max-width: 600px;
    text-align: center;
}

/* Valintaelementit */
select, button {
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 90%;
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Kysymysnäkymä */
#quiz button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    width: 90%;
    max-width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f8f9fa;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#quiz button:hover {
    background-color: #e2e6ea;
}

#quiz button.correct-answer {
    background-color: #28a745 !important;
    color: #fff !important;
    transform: scale(1.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.correct-answer {
    background-color: #28a745 !important;
    color: #fff !important;
    transform: scale(1.2); /* Suurentaa painiketta hieman */
    transition: transform 0.3s ease, background-color 0.3s ease;
}
/* Tulossivu */
#results {
    text-align: center;
}

#results button {
    padding: 10px;
    font-size: 16px;
    background-color: #4a90e2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#results button:hover {
    background-color: #357ab7;
}
